<h2>
  <img
    src="https://tutorialedge.net/images/angularjs.png"
    alt=""
    class="-oneX-logo"
    style="height: 35px; width: 50px;"
  />ng-Aria in Angular
</h2>
<hr />
<p>
  The goal of ngAria is to improve AngularJS's default accessibility by enabling
  common ARIA attributes that convey state or semantic information for assistive
  technologies used by persons with disabilities.
</p>
<p></p>

<h4>Test Cases</h4>
<p>
  ng-Aria has many different uses. Below are some examples of use of this
  functionality in Angular.
</p>
<br />
<h5>1) Use of <b>div</b></h5>

<p>The content below is going to change:</p>
<div aria-live="assertive">{{dynamContent}}</div>
<br />
<h5>2) Use of</h5>

<br />
<p *ngIf="buttonClicked;" aria-live="assertive">
  This content was created async, with aria live on tag
</p>
