<h2 tabindex="-1">
  Keyboard Navigation
</h2>
<p>
  It's incredibly important users be able to navigate your website
  using the keyboard only. If your website is functional only by
  keyboard, it's more likely to also be functional with other
  assistive technologies.
</p>
<p>
  You can ensure keyboard usability be using native elements, ensuring
  interactive elements are in the tab focus, and ensuring
  non-interactive elemnts are NOT in tab focus.
</p>
<h3>Custom Components</h3>
<p>
  When using custom components, you will not be able to directly add
  ARIA attributes or other accessibility solutions to have it trickle
  down to the semantic elements below. Instead, you will need to
  ensure you are programmatically adding your ARIA attributes at the
  source.
</p>

<div role="button" (click)="testButtonClick()" class="btn">
  Test Button
</div>
<br />
<button (click)="actualButtonClick()" class="btn">
  Actual Button
</button>
